<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<!-- Header -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common-header">
  <meta charset="UTF-8" />
  <title>JavaCoffee</title>
  <link rel="icon" href="https://i.imgur.com/Tqd4IiB.png" type="image/png">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>

<!-- Navigation -->
<div th:replace="/common/components :: common-navbar"/>
</div>

<div class="container">
  <h2 class="text-center" style="padding-top: 50px; padding-bottom: 50px;">You successfully Signed Up!</h2>
  <div class="col-md-12 col-sm-12 d-flex justify-content-center pt-2">
    <label><a th:href="@{/login}">Login here</a></label>
  </div>
</div>


<!-- Footer -->
<div th:replace="/common/components :: common-footer"/></div>
</body>
</html>

<style type="text/css">
       form{
           display: flow;
           margin: 200px;
       }
</style>