<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Header -->
<head th:replace="/common/components :: common-header" />
</head>

<body>
<!-- Navigation -->
<div th:replace="/common/components :: common-navbar" >
</div>

<!-- Main Content -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <h2>Shopping Cart</h2>
            <div th:if="${#lists.isEmpty(cartItems)}">
                <h4>You have not added any products to your shopping cart yet!</h4>
            </div>
            <hr>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price*Quantity</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <!-- Table rows for each product in the cart -->
               <tr th:each="cartItem: ${cartItems}" th:data-itemid="${cartItem.item.id}">
                   <td th:text="${cartItem.item.name}"></td>
                   <td th:text="${cartItem.item.ourPrice}"></td>
                   <td><input type="number" class="form-control" th:value="${cartItem.quantity}" min="1" onchange="updateSubtotal(this)"></td>
                   <td class="itemSubtotal" th:text="${cartItem.item.ourPrice * cartItem.quantity}"></td>
                   <td><button class="btn btn-danger btn-sm">Remove</button></td>
               </tr>
                <!-- Add more table rows for each product in the cart -->
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <h2>Order Details</h2>
            <hr>
            <p>Total: <span id="totalAmount" th:text="${total}"></span>
            </p>
            <button class="btn btn-primary btn-lg btn-block">Checkout</button>
        </div>
    </div>
</div>

<!-- Footer -->
<div th:replace="/common/components :: common-footer" >
</div>

<script>
</script>

</body>
</html>

