<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Header -->
<head th:replace="/common/components :: common-header"/></head>

<body>
<!-- Navigation -->
<div th:replace="/common/components :: common-navbar"/>
</div>


<!-- Main Content -->
<div class="container">
    <div class="row">
        <form class="form-horizontal" th:action="@{/update-item/?id=}+${item.id}" method="post" th:object="${item}" enctype="multipart/form-data">
            <fieldset>

                <div style="padding-bottom: 20px; padding-top:20px;">
                    <legend class="center-block">
                        Update Item Information
                    </legend>
                    <span style="font-size:small;">
                    * is a required field
                </span>
                </div>

                <!-- This line is important
                     We are passing the ID to this DTO object
                     so that when we call the save method in the update method
                     it will update the item with this same id,
                     rather than creating a new item
                     with a new id and same information -->
                <!--<div>
                <label for="id"></label>
                <input hidden="hidden" name="id" th:value="${id}" placeholder="id" id="id"/>
                </div>-->

                <!-- name -->
                <div class="form-group">
                    <input type="text" class="form-control" id="name" name="name"
                            placeholder="*Name"
                           th:value="${name}"
                    />
                </div>

                <!-- category -->
                <div class="form-group">
                    <select  id="category", class="form-control" th:value="${category}" name="category">
                        <option value="" hidden >*Category</option>
                        <option value="Category_1">Category 1</option>
                        <option value="Category_2">Category 2</option>
                        <option value="Category_3">Category 3</option>
                        <option value="Category_4">Category 4</option>
                    </select>
                </div>

                <!-- description -->
                <!--<div class="form-group">
                    <input type="textarea" class="form-control" id="description" name="description"
                           required="required" placeholder="*Description"
                           th:value="${description}"
                    />
                </div>-->

                <!-- description -->
                <div class="form-group">
                    <textarea id="description" name="description" rows="3"
                              class="form-control"
                               placeholder="*Description"
                              th:value="${description}"
                    ></textarea>
                </div>

                <!-- listPrice -->
                <div class="form-group">
                    <input type="number" class="form-control" id="listPrice" name="listPrice"
                           placeholder="*List Price"
                           th:value="${listPrice}"
                    />
                </div>

                <!-- ourPrice -->
                <div class="form-group">
                    <input type="number" class="form-control" id="ourPrice" name="ourPrice"
                           placeholder="*Our Price"
                           th:value="${ourPrice}"
                    />
                </div>

                <!-- inStockNumber -->
                <div class="form-group">
                    <input type="number" class="form-control" id="inStockNumber" name="inStockNumber"
                            placeholder="*Amount in stock"
                           th:value="${inStockNumber}"
                    />
                </div>

                <!-- Status of Item -->
                <div class="form-group" style="display: inline-block;">
                    <label class="control-label" for="status" style="display: inline-block;">Status</label>
                    <div id="status" style="display: inline-block; margin-left: 10px;">
                        <label><input type="radio" name="status" value="true">Active</label>
                        <label><input type="radio" name="status" value="false">Inactive</label>
                    </div>
                </div>

                <!-- itemImage -->
                <div class="form-group">
                    <div><lablel>Upload Item Image</lablel></div>
                    <div><input
                            id="itemImage" type="file" name="itemImage"
                            th:value="${itemImage}"
                    /></div>
                </div>

                <!-- Buttons -->
                <div class="form-group" style="padding-top:20px">
                    <button type="submit" class="btn btn-success">Update Item</button>
                    <a class="btn btn-danger" th:href="@{/update-item/?id=}+${item.id}">Cancel</a>
                </div>

            </fieldset>
        </form>
    </div>
</div>

<!-- Footer -->
<div th:replace="/common/components :: common-footer"></div>
</body>
</html>